<a href="https://colab.research.google.com/github/Oreki820/Projetos-EBAC/blob/main/Profissao_Cientista_de_Dados_M25_Pratique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [3]:
df_vendas = pd.read_csv("/TB_VENDAS_TAREFA (1).csv", delimiter=';')

In [4]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [5]:
def run_query(query):
    return pd.read_sql_query(query, conn)

In [6]:
df_vendas.head()

   ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0       1247        9081  CAMISETA       34,5         2
1       1248        9081     CALCA       89,9         1
2       1250        9560  CAMISETA       34,5         1
3       1249        9630   BERMUDA       79,5         2
4       1251        9425  CAMISETA       34,5         3

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [13]:
query = """
SELECT DISTINCT PRODUTO
FROM tb_vendas;
"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [14]:
query = """
SELECT COUNT(DISTINCT ID_CLIENTE) AS qtd_clientes
FROM tb_vendas;
"""
result_df = run_query(query)
print(result_df)

   qtd_clientes
0            22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [15]:
query = """
SELECT DISTINCT PRODUTO, VALOR_UNID
FROM tb_vendas
WHERE VALOR_UNID >= 50;
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [16]:
query = """
SELECT
    ID_COMPRA,
    (VALOR_UNID * UNIDADES) AS valor_total
FROM tb_vendas
ORDER BY valor_total DESC
LIMIT 5;
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  valor_total
0       1267          204
1       1253          178
2       1255          178
3       1257          178
4       1262          178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [17]:
query = """
SELECT
    PRODUTO,
    AVG(VALOR_UNID) AS media_valor_unid
FROM tb_vendas
GROUP BY PRODUTO
ORDER BY media_valor_unid DESC;
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  media_valor_unid
0   VESTIDO             102.0
1     CALCA              89.0
2   BERMUDA              79.0
3  CAMISETA              34.0
4      MEIA              25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [18]:
query = """
SELECT
    ID_CLIENTE,
    COUNT(ID_COMPRA) AS qtd_compras
FROM tb_vendas
GROUP BY ID_CLIENTE
ORDER BY qtd_compras DESC
LIMIT 3;
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  qtd_compras
0        9425            2
1        9081            2
2        9801            1